mindcraft-frontend/mindcraft-ai-workflow-gemini-webhook.json
{
  "name": "MindCraft AI Daily Challenge Generator (Gemini Webhook)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-challenge",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "webhook-trigger",
      "name": "Webhook",
      "webhookId": "mindcraft-challenge-generator"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BACKEND_URL || 'YOUR_BACKEND_URL_HERE' }}/api/skill-paths?isActive=true",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 0],
      "id": "get-skill-paths",
      "name": "Get Active Skill Paths"
    },
    {
      "parameters": {
        "jsCode": "// Get skill paths from API response\nconst response = $input.first().json;\nconst skillPaths = response.data || [];\n\n// If webhook provides skillPathId, filter to that one\nconst webhookBody = $('Webhook').first().json.body || {};\nconst requestedSkillPathId = webhookBody.skillPathId;\n\nlet pathsToProcess = skillPaths;\nif (requestedSkillPathId) {\n  pathsToProcess = skillPaths.filter(sp => sp._id === requestedSkillPathId);\n}\n\nif (pathsToProcess.length === 0) {\n  return [{ json: { error: 'No active skill paths found' } }];\n}\n\n// Return skill paths for processing\nreturn pathsToProcess.map(sp => ({\n  json: {\n    skillPath: sp,\n    skillPathId: sp._id,\n    name: sp.name,\n    description: sp.description,\n    difficulty: sp.difficulty\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [464, 0],
      "id": "process-skill-paths",
      "name": "Process Skill Paths"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BACKEND_URL || 'YOUR_BACKEND_URL_HERE' }}/api/challenges?skillPathId={{ $json.skillPathId }}&isActive=true",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [688, 0],
      "id": "get-existing-challenges",
      "name": "Get Existing Challenges"
    },
    {
      "parameters": {
        "jsCode": "// Calculate next day number\nconst skillPath = $input.first().json.skillPath;\nconst challengesResponse = $input.item.json;\n\nlet nextDayNumber = 1;\n\nif (challengesResponse.data && challengesResponse.data.challenges) {\n  const challenges = challengesResponse.data.challenges;\n  if (challenges.length > 0) {\n    const maxDay = Math.max(...challenges.map(c => c.dayNumber || 0));\n    nextDayNumber = maxDay + 1;\n  }\n}\n\nreturn [{\n  json: {\n    ...skillPath,\n    dayNumber: nextDayNumber\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [912, 0],
      "id": "calculate-day-number",
      "name": "Calculate Day Number"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI Challenge Generator for MindCraft, a creative learning platform.\n\nYou will receive information about a skill path and need to generate a daily challenge.\n\nInput data:\n{{ JSON.stringify($json) }}\n\nInstructions:\n1. Generate a creative, engaging daily challenge for the skill path: \"{{ $json.name }}\"\n2. Description: {{ $json.description }}\n3. Difficulty Level: {{ $json.difficulty }}\n4. Day Number: {{ $json.dayNumber }}\n\nRequirements:\n- The challenge should be practical and achievable in 30-60 minutes\n- It should be appropriate for {{ $json.difficulty }} level\n- It should build upon previous learning (this is day {{ $json.dayNumber }})\n- Make it engaging, fun, and educational\n- Provide clear, actionable instructions\n\nOutput must be a **valid JSON object** in this exact format:\n\n{\n  \"title\": \"A clear, concise challenge title (max 60 characters)\",\n  \"description\": \"A brief overview of what the challenge is about (2-3 sentences)\",\n  \"instructions\": \"Detailed step-by-step instructions for completing the challenge (should be comprehensive, 5-10 steps)\",\n  \"difficulty\": \"{{ $json.difficulty }}\",\n  \"tags\": [\"tag1\", \"tag2\", \"tag3\"],\n  \"estimatedTime\": 45,\n  \"xpReward\": 100,\n  \"coinReward\": 10\n}\n\nMake sure the instructions are clear, actionable, and educational. The challenge should inspire creativity and learning.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [1136, 0],
      "id": "ai-agent",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [1136, 192],
      "id": "gemini-model",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"title\": \"string\",\n  \"description\": \"string\",\n  \"instructions\": \"string\",\n  \"difficulty\": \"beginner\" | \"intermediate\" | \"advanced\",\n  \"tags\": [\"string\"],\n  \"estimatedTime\": 45,\n  \"xpReward\": 100,\n  \"coinReward\": 10\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [1296, 192],
      "id": "structured-output-parser",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "// Merge AI response with skill path data\nconst aiResponse = $input.item.json;\nconst skillPathData = $input.first().json;\n\n// Extract the output from AI agent\nconst challengeData = aiResponse.output || aiResponse;\n\nreturn [{\n  json: {\n    ...skillPathData,\n    aiGeneratedChallenge: {\n      title: challengeData.title || `Daily Challenge - Day ${skillPathData.dayNumber}`,\n      description: challengeData.description || `A challenge for ${skillPathData.name}`,\n      instructions: challengeData.instructions || 'Complete the challenge as described.',\n      difficulty: challengeData.difficulty || skillPathData.difficulty || 'beginner',\n      tags: Array.isArray(challengeData.tags) ? challengeData.tags : [],\n      estimatedTime: challengeData.estimatedTime || 45,\n      xpReward: challengeData.xpReward || 100,\n      coinReward: challengeData.coinReward || 10\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 0],
      "id": "merge-ai-response",
      "name": "Merge AI Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL || 'YOUR_BACKEND_URL_HERE' }}/api/challenges/ai/generate",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ {\n  title: $json.aiGeneratedChallenge.title,\n  description: $json.aiGeneratedChallenge.description,\n  instructions: $json.aiGeneratedChallenge.instructions,\n  skillPathId: $json.skillPathId,\n  difficulty: $json.aiGeneratedChallenge.difficulty,\n  dayNumber: $json.dayNumber,\n  xpReward: $json.aiGeneratedChallenge.xpReward,\n  coinReward: $json.aiGeneratedChallenge.coinReward,\n  estimatedTime: $json.aiGeneratedChallenge.estimatedTime,\n  tags: $json.aiGeneratedChallenge.tags,\n  exampleImages: []\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1584, 0],
      "id": "create-challenge",
      "name": "Create Challenge"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [1808, 0],
      "id": "respond-to-webhook",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Active Skill Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Skill Paths": {
      "main": [
        [
          {
            "node": "Process Skill Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Skill Paths": {
      "main": [
        [
          {
            "node": "Get Existing Challenges",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Challenges": {
      "main": [
        [
          {
            "node": "Calculate Day Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Day Number": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Merge AI Response": {
      "main": [
        [
          {
            "node": "Create Challenge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Challenge": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "tags": []
}

